body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
#navigation{
    margin-left: 60%;
    margin-top: 4%;
    position: relative;
    top: -30px;
    
}
ul{
    margin-right: 5px;
    padding: 0;
    width: 60px;
    display: inline;
    text-decoration: none;
}
li{
    display: inline;
    margin: 3%;
    list-style-type: none;
    text-decoration: none;
    float: left;
    
}
a {
    display: block;
    padding: 8px;
    text-decoration: none;
    margin-right: 7px;
    font-weight: 600;
    color: rgb(97, 95, 95);
   }
   .home{
    background: lightslategrey;
    border-radius: 7px;
   color: white;